@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-135deg, #2c666e, #f0edee);
  color: #fff;
  padding: 10px;
}
.calculator{
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}
.calculator h1{
  font-size: 60px;
}
.calculator h1 span{
  color: #ffff76;
}
.input-box{
  margin: 40px 0;
  padding: 35px;
  background: rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
}
.input-box input{
  flex: 1;
  position: relative;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 18px;
}
.input-box button{
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
  cursor:pointer;
}
.input-box input::-webkit-calendar-picker-indicator{
  top: 50%;
  bottom: 0;
  left:330px;
  right:0 ;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% -10px);
  background-size: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 1;
}
input::-webkit-input-placeholder{
  text-align: center;
}